@import "@styles/variables";

.caracSlider {
  color: $darkBlue;
  font-family: "Sporting Grotesque";
  padding-bottom: 43px;

  @media #{$tablet} {
    padding-top: 76px;
    display: flex;
    justify-content: space-around;
  }

  h2,
  h3 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
  }

  .sliderWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    flex: 0 0 40vw;
    gap: 194px;
    order: 1;
    .sliderDiv {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .text {
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 17.25px;
    text-align: left;
    flex: 0 0 32vw;
    order: 2;

    @media #{$desktop} {
      p {
        font-size: clamp(15px, 1.389vw, 25px);
        line-height: 1.15;
      }
    }
  }
  &.tent {
    .text {
      display: none;
    }
  }

  &.weddings,
  &.business,
  &.events,
  &.collectives {
    @media #{$desktop} {
      .sliderWrapper {
        width: 600px;
        h2,
        h3 {
          font-size: clamp(16px, 1.5265vw, 30px);
        }
      }
    }
  }

  // @media #{$tablet} {
  //   display: flex;

  //   &.tent {
  //     display: block;
  //     width: 100%;
  //   }
  //   margin-top: 76px;
  //   padding: 0 2vw;

  //   justify-content: center;

  //   gap: 10vw;

  //   .text {
  //     order: 3;
  //     flex: 0 0 266px;

  //     position: relative;
  //     top: -20px;
  //   }

  //   .sliderWrapper {
  //     color: $beige;
  //     font-family: "Sporting Grotesque";

  //     display: flex;
  //     justify-content: space-between;

  //     width: 80vw;
  //     margin: 0 auto;
  //     h2,
  //     h3 {
  //       font-size: 20px;
  //       font-weight: 400;
  //     }
  //     @media #{$desktop} {
  //       order: 1;
  //       h2,
  //       h3 {
  //         font-size: 40px;
  //         font-weight: 400;
  //         line-height: 45.6px;
  //       }
  //     }
  //   }
  // }
  // @media #{$desktop} {
  //   align-items: top;

  //   margin-top: 106px;
  //   margin-bottom: 106px;

  //   gap: 0;

  //   .text {
  //     font-size: 20px;
  //     padding-top: 0;
  //   }

  //   .bitch {
  //     width: 410px;
  //     align-self: flex-end;
  //   }
  // }
}
.sliderElem {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
  height: 50%;
  opacity: 0;
  left: -1000px;

  &.initialActive {
    left: 50%;
    opacity: 1;
  }

  &.activeright {
    left: 50%;
    opacity: 1;
    transition: opacity 1s;
    animation: fromLeftToMiddle 0.5s linear forwards;
  }

  &.activeleft {
    opacity: 1;
    transition: opacity 1s;

    animation: fromRightToMiddle 0.5s linear forwards;
  }

  &.prevright {
    animation: fromMiddleToRight 0.5s linear forwards;
  }

  &.prevleft {
    animation: fromMiddleToLeft 0.5s linear forwards;
  }

  h3 {
    position: absolute;
    bottom: -60px;

    @media #{$tablet} {
      font-weight: 400;
      font-size: 20px;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    path {
      fill: $lightBlue;
    }
  }

  &.tent {
    color: $beige;
  }
}

@keyframes fromMiddleToRight {
  from {
    left: 50%;
  }
  to {
    left: 300%;
  }
}

@keyframes fromLeftToMiddle {
  from {
    left: -100%;
  }
  to {
    left: 50%;
  }
}

@keyframes fromRightToMiddle {
  from {
    left: 300%;
  }
  to {
    left: 50%;
  }
}

@keyframes fromMiddleToLeft {
  from {
    left: 50%;
  }
  to {
    left: -100%;
  }
}
