@import "@styles/variables/breakpoints.scss";

@mixin paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.25px;
  text-align: left;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
