.collectives {
  background: linear-gradient(
      rgba(252, 192, 70, 0.73),
      rgba(252, 192, 70, 0.73)
    ),
    url("~../../../assets/images/placeholder.jpeg");

  // background-color: #619c5796;
}

.pageContainer {
  position: relative;
}

.pageWrapper {
  background: linear-gradient(
    180deg,
    #fffce5 36%,
    #ffe37d 78.24%,
    #fcc046 100%
  );
}
