@import "@styles/variables";

.container {
  padding: 30px 25px;
  color: $darkBlue;

  &.sloganSection {
    background: $beige;
  }
  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.25px;
    text-align: left;
    margin-bottom: 10px;
  }

  .slogan {
    p {
      font-family: "Sporting Grotesque";
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      text-align: center;
    }
  }

  .author {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.44px;
    text-align: center;
  }
}
