@import "@styles/variables";

.mainMenu {
  max-height: 0;
  overflow: hidden;

  z-index: 100;
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  font-size: 13px;
  @media #{$desktop} {
    font-size: clamp(15px, 1vw, 25px);
  }
  width: 230px;
  max-width: 250px;
  background: $beige;
  color: $strongGreen;

  @media #{$tablet} {
    background: none;
    &.white {
      color: $beige;
    }
  }

  @media #{$tablet} {
    max-height: none;
    max-width: none;
    overflow: visible;
    top: 50px;
    width: 60vw;

    .subMenuWrapper {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    ul.mainMenuList {
      display: flex;
      list-style-type: none;
      justify-content: space-between;

      li.mainMenuItemLi {
        position: relative;
        cursor: pointer;

        a {
          position: relative;
          z-index: 100;
        }
        .subMenu {
          margin-left: 0;

          list-style-type: none;

          padding: 10px 5px;

          z-index: 10000;
          @media #{$tablet} {
            margin-top: 15px;
            background: $beige;
          }

          li {
            display: flex;
            justify-content: center;
            margin-bottom: 3px;
            @media #{$tablet} {
              background: $beige;
            }
          }

          a {
            margin-left: 0;
            background: $beige;
            white-space: nowrap;
            padding: 5px;

            // border: 0.5px solid $darkBlue;
          }
        }
        &:hover {
          .subMenuWrapper {
            top: -20px;
            padding-top: 50px;
            display: block;
            z-index: 0;
          }
        }
      }
    }
  }

  @media #{$desktop} {
    width: clamp(500px, 40%, 1200px);

    top: clamp(50px, 3.6vw, 100px);
  }

  &[aria-expanded="true"] {
    max-height: 1000px;
    border: 1px solid $strongGreen;
    box-shadow: 0px 0px 10px 5px #00000040;

    .mainMenuItem {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
      border-radius: 0;
    }
  }
}

.mainMenuToggle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: $beige;
  @media #{$tablet} {
    display: none;
  }

  span {
    font-size: 15px;
    line-height: 1.15;
    vertical-align: middle;
  }

  &.menuOpen,
  &.white {
    color: white;
  }
}

.subMenu {
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 20px 0;
  list-style-type: disc;
  font-size: 15px;

  @media #{$tablet} {
    border: 1px solid $strongGreen;
  }
}

.secondaryMenuItem {
  margin-left: 30px;
  text-align: center;
  display: flex;
  color: $strongGreen;
  align-items: center;
  line-height: 26px;
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 10px;
  }
}
