@import "@styles/variables";

.image {
  position: relative;
}
.firstSection {
  padding-bottom: 14px;
  h1 {
    font-family: "Sporting Grotesque";
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 2500px;
    text-align: center;
    color: $beige;
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;

    @media #{$tablet} {
      width: calc(61vw);
    }

    @media #{$desktop} {
      width: 73.82vw;
      text-transform: uppercase;
      margin-bottom: 24px;
      margin-top: clamp(85px, 8.3vw, 300px);
      font-size: clamp(18px, 2.3vw, 80px);
      height: auto;
    }
  }
  .sun {
    margin-top: 50px;
    &.desktop {
      display: none;
    }

    @media #{$tablet} {
      position: absolute;
      right: 26px;
      bottom: 0;
      transform: translateY(50%);
      z-index: 2;
    }

    @media #{$desktop} {
      display: none;
    }
    path {
      fill: $yellow;
    }
  }
  .image {
    height: 275px;
    width: 275px;

    @media #{$tablet} {
      width: calc(80vw);
      height: 638px;
    }

    @media #{$desktop} {
      width: 71.8vw;
      height: 43.5vw;
    }
    margin: 16px auto;

    img {
      object-fit: cover;
    }
  }

  .buttonPart {
    position: relative;
    display: flex;
    justify-content: center;

    @media #{$tablet} {
      height: 70px;
      @include center;
    }
    @media #{$desktop} {
      display: none;
    }

    .sun {
      @media #{$tablet} {
        display: none;
      }
    }
  }
}

.hide {
  display: none;
}

.quoteSection {
  display: none;

  @media #{$desktop} {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
