@import "@styles/variables";

.container {
  margin-top: 70px;

  display: none;

  @media #{$tablet} {
    display: block;
  }

  .firstPart {
    margin: 0 auto;
    width: 600px;

    h2 {
      font-family: "Sporting Grotesque";
      font-size: 20px;
      font-weight: 400;
      width: 350px;
      line-height: 21.4px;
      text-align: left;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 400;
      line-height: 17.6px;
      text-align: left;
      &.firstParagraph {
        width: 500px;
        margin-bottom: 0;
      }
      &.secondParagraph {
        flex: 0 0 280px;
      }
    }

    .floatedElements {
      display: flex;
      justify-content: space-between;
    }

    .firstImage {
      flex: 1;
      width: 300px;
      height: auto;
    }
  }
}
