@import "@styles/variables";

.imageWithCredit {
  overflow: hidden;
  .credit {
    display: none;
  }
  img {
    transition: 1s transform;
    &.isInView {
      transform: scale(1.1);
      transition: 1s transform;
    }
  }

  .icon {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: aitp;
  }

  &:hover {
    .credit {
      position: absolute;
      background: lightgray;
      color: black;
      font-size: 10px;
      padding: 5px 8px;
      right: 0;
      bottom: 0;
      display: block;
    }
  }
}
