@import "@styles/variables";

.imageWithCredit {
  .credit {
    display: none;
  }
  &:hover {
    .credit {
      position: absolute;
      background: lightgray;
      color: black;
      font-size: 10px;
      padding: 5px 8px;
      right: 0;
      bottom: 0;
      display: block;
    }
  }
}
