@import "@styles/variables";

.container {
  blockquote,
  figcaption {
    text-align: center;
  }

  @media #{$desktop} {
    width: 48.19vw;
    margin: clamp(20px, 1.389vw, 50px) auto;
  }

  blockquote {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 17.92px;
    text-align: center;

    @media #{$tablet} {
      font-size: 20px;
      line-height: 25px;
      width: 83%;
      margin: 0 auto;
    }

    @media #{$desktop} {
      font-size: 1.388vw;
      line-height: 1.26;
      color: $teal;
    }
  }

  figcaption {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.44px;
    text-align: center;
    padding: 15px 0;
    display: block;

    @media #{$desktop} {
      font-size: 0.833vw;

      line-height: 15.12px;
    }
  }
}
