.faq {
  h1 {
    font-family: "Sporting Grotesque";
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 5px;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 20px;
    font-weight: 400;
    line-height: 32.6px;
    text-align: center;
    margin-bottom: 34px;
  }
}
