@import "@styles/variables";

.container {
  display: none;

  margin: 0 auto;
  padding-bottom: 50px;

  padding-top: 70px;

  max-width: 700px;

  @media #{$tablet} {
    display: block;
  }

  @media #{$desktop} {
    max-width: none;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    line-height: 1.07;
    text-align: left;
    margin-bottom: 20px;
    @media #{$desktop} {
      font-size: clamp(20px, 2.77vw, 50px);
    }
  }

  p {
    margin-bottom: 20px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    @media #{$desktop} {
      font-size: clamp(16px, 1.39vw, 25px);
    }
  }

  .topPart {
    display: flex;
    justify-content: space-between;

    .leftPart {
      width: 411px;
    }

    .topImage {
      width: 245px;
      height: 282px;
      @media #{$desktop} {
        width: 43.26vw;
        height: 29.44vw;
      }
    }
  }

  .bottomPart {
    margin-top: 50px;
    display: flex;
    gap: 9%;
    .leftPart {
      padding-top: 30px;
      flex-direction: column;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .leftTopImage {
      width: 260px;
      height: 232px;
      @media #{$desktop} {
        width: 30.69vw;
        height: 23.82vw;
      }
    }

    .leftBottomImage {
      width: 184px;
      height: 128px;
      @media #{$desktop} {
        width: 17.78vw;
        height: 31.11vw;
      }
    }

    .rightPart {
      position: relative;
      width: 375px;

      p:last-of-type {
        margin-bottom: 0;
      }
      .sun {
        position: absolute;
        top: -50px;
        right: -20px;
        width: 58px;
        height: 58px;
        path {
          fill: $yellow;
        }
      }
    }
  }
}
