@import "@styles/variables";

.upperLogo {
  path {
    fill: $beige;
  }

  width: 50px;
  height: 79px;

  &.white {
    path {
      fill: $beige;
    }
  }

  @media #{$tablet} {
    width: 61px;
    height: 85px;
  }

  @media #{$desktop} {
    width: clamp(79px, 5.7vw, 158px);
    height: clamp(126px, 9.2vw, 252px);
  }
}

.header {
  background-size: auto 100% !important;
  background-position: 35% 0% !important;
  position: relative;
  height: 90vh;
  @media #{$desktop} {
    background-repeat: no-repeat !important;
    background-size: cover !important;

    height: 64vw;
  }

  .navAndLogo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media #{$tablet} {
      align-items: start;
    }
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;

    @media #{$tablet} {
      padding-top: clamp(50px, 3.6vw, 100px);
    }
    position: relative;
  }
}

.mainTitle {
  display: none;
}
