@import "@styles/variables";

.upperLogo {
  path {
    fill: $teal;
  }

  width: 50px;
  height: 79px;

  &.white {
    path {
      fill: $beige;
    }
  }

  @media #{$tablet} {
    width: 61px;
    height: 85px;
  }

  @media #{$desktop} {
    width: clamp(79px, 5.7vw, 158px);
    height: clamp(126px, 9.2vw, 252px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media #{$tablet} {
    align-items: start;
  }
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;

  @media #{$tablet} {
    padding-top: clamp(50px, 3.6vw, 100px);
  }
  position: relative;
}

.mainTitle {
  display: none;
}
