@import "@styles/variables";

.upperLogo {
  path {
    fill: $teal;
  }

  width: 50px;
  height: 79px;

  &.white {
    path {
      fill: $beige;
    }
  }

  @media #{$tablet} {
    width: 61px;
    height: 85px;
  }

  @media #{$desktop} {
    width: 79px;
    height: 126px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media #{$tablet} {
    align-items: start;
  }
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

.mainTitle {
  display: none;
}
