@import "@styles/variables";
.image {
  position: relative;
}

.mobileSideMenu {
  top: 150px !important;
  @media #{$tablet} {
    display: none;
  }
}

.secondSection {
  color: $beige;
  width: 100vw;
  position: relative;

  color: $darkBlue;
  padding: 50px 40px;
  padding-bottom: 0;

  @media #{$tablet} {
    padding: 0;
    padding-top: 50px;
  }

  @media #{$desktop} {
    padding: clamp(59px, 5.8vw, 200px) 0;
  }

  ul {
    list-style-type: none;
    width: 167px;

    @media #{$tablet} {
      width: auto;
    }
    margin: 0 auto;

    @media #{$desktop} {
      margin: 0;
    }
    margin-bottom: 43px;
    font-family: "Sporting Grotesque";
    font-size: 20px;

    font-weight: 400;
    line-height: 1.63;
    text-align: left;

    @media #{$desktop} {
      line-height: 1.47;
      font-size: clamp(30px, 2.9vw, 100px);
    }
  }
  p {
    color: $strongGreen;
    margin: 0 auto;
    font-size: clamp(20px, 1.2vw, 80px);
    width: clamp(284px, 27.8vw, 1000px);
  }

  .secondSectionImage {
    margin-top: 21px;
    margin-bottom: 43px;
    display: flex;
    justify-content: center;

    .logoImage {
      width: 37px;
      height: 36px;
      position: relative;
      position: absolute;
      left: 10px;
      img {
        object-fit: cover;
      }
      @media #{$tablet} {
        display: none;
      }
    }

    .image {
      width: 290px;
      height: 375px;
      img {
        object-fit: cover;
      }

      @media #{$desktop} {
        width: clamp(389.12px, 38vw, 652px);

        height: clamp(527.36px, 51.5vw, 889px);
      }
    }
  }

  .bulletPoint {
    width: 10px;
    margin-right: 5px;
    path {
      fill: $darkBlue;
    }
    @media #{$tablet} {
      width: 20px;
    }

    @media #{$desktop} {
      width: clamp(20px, 1.2vw, 40px);
    }
  }
}

.subSection {
  @media #{$desktop} {
    display: flex;
    justify-content: center;

    gap: clamp(78px, 7.7vw, 300px);
    .rightSection {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: clamp(43px, 4.2vw, 100px);
    }
    .secondSectionImage {
      order: 1;
    }
  }
}

.blockquote {
  @media #{$desktop} {
    display: none;
  }
}

.text {
  display: none;

  @media #{$desktop} {
    font-size: clamp(20px, 1.389vw, 30px);
    display: block;
    color: $darkBlue;

    font-weight: 400;
    line-height: 1.15;
    text-align: left;
  }
}
