@import "@styles/variables";

.article {
  width: 100vw;

  @media #{$tablet} {
    width: 100%;
  }

  padding: 10px 20px;

  &.values {
    color: $beige;
    @media #{$tablet} {
      color: $strongGreen;
    }
  }
  &.home {
    color: $darkBlue;
    padding-left: 0;
  }

  h3 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.469;

    margin-bottom: 15px;
    @media #{$tablet} {
      font-size: 32px;
      margin-bottom: 10px;
    }

    @media #{$desktop} {
      font-size: clamp(50px, 3.472vw, 70px);
    }
  }
  p {
    text-wrap: wrap;
    margin-bottom: 23px;
    @media #{$tablet} {
      width: 400px;
    }

    @media #{$desktop} {
      font-size: clamp(20px, 1.389vw, 30px);
      line-height: 1.2;
      width: 100%;
    }
  }
}

.phone {
  @media #{$tablet} {
    display: none;
  }
}
