@import "@styles/variables";

.container {
  /* Add your styles here */
}

.article {
  width: 100vw;
  padding: 10px 20px;

  &.values {
    color: $beige;
  }
  &.home {
    color: $darkBlue;
  }

  h3 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;

    margin-bottom: 15px;
  }
  p {
    text-wrap: wrap;
  }
}
