@import "@styles/variables";

.formBox {
  margin: 0 12px;

  @media #{$tabletPortrait} {
    margin: 0;
    width: 90vw;
    form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  @media #{$desktopLandscape} {
    max-width: 1200px;
    position: absolute;
    right: 40px;
    height: 95vh;
    display: flex;
  }
  margin-bottom: 0;

  background: $beige;

  border: $devis-border;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &.thankYouBox {
    @media #{$tablet} {
      border: 0;
      max-width: 375px;
      position: fixed;
      right: 42px;
      top: 83px;
      z-index: 300;
    }
  }
}

.tabletLayout {
  display: none;
  height: 100%;

  @media #{$tabletPortrait} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  @media #{$desktopLandscape} {
    display: none;
  }

  margin: 14px;
  .tabletColumns {
    display: flex;
    flex: 1;
    .leftTabletCol,
    .rightTabletCol {
      flex: 0 0 50%;
      border: $devis-border;
      border-bottom: none;
    }

    .rightTabletCol {
      border-left: none;
      border-top: none;
    }
  }
}

.formPageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo {
  display: none;
  @media #{$desktopLandscape} {
    display: inline-block;
    width: auto;
  }

  &.thankYouLogo {
    @media #{$tabletPortrait} {
      display: inline-block;
      width: auto;
    }
  }
}

.figure {
  position: absolute;
  bottom: 30px;
  left: 100px;
  @media #{$desktopLandscape} {
    bottom: 50%;
    transform: translateY(50%);
  }
}

.phoneOnly {
  @media #{$tablet} {
    display: none;
  }
}

.desktopLayout {
  display: none;

  flex-direction: column;

  background: $beige;
  flex: 1;

  .columns {
    display: flex;
  }

  .desktopBottom {
    display: flex;
  }

  @media #{$desktopLandscape} {
    display: flex;
  }
}
