@import "@styles/variables";

.devis {
  background: linear-gradient(180deg, #fffce5 0%, #619c57 24.5%, #14301b 100%);

  padding-top: 50px;
  padding-bottom: 12px;
  min-height: 100vh;

  @media #{$tablet} {
    background: $darkBlue;
  }

  @media #{$tabletPortrait} {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    justify-content: flex-end;
    min-height: 100vh;
    position: relative;
  }

  @media #{$desktopLandscape} {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footer {
  @media #{$tablet} {
    display: none;
  }
}
