@import "@styles/variables";
.radioGroup {
  display: flex;

  &.noWrap {
    flex-wrap: wrap;
  }
  align-items: center;
  height: 100%;
  .label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
  }

  .radioOption {
    margin-right: 10px;
  }

  .radioLabel {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .active {
    background-color: lightgreen;
    border-color: lightgreen;
  }

  input[type="radio"] {
    display: none;
  }
}

.errorMessage {
  color: red;
  margin-top: 4px;
}
