@import "@styles/variables";
.radioGroup {
  display: flex;
  gap: 3px;
  margin-bottom: 5px;

  .radioCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid $darkBlue;
    margin-right: 5px;
    cursor: pointer;
  }

  .label {
    display: block;
    font-weight: bold;
  }

  &.noWrap {
    flex-wrap: wrap;
    .label {
      flex: 0 0 100%;
    }
  }
  align-items: center;
  height: 100%;

  .radioOption {
    margin-right: 10px;
  }

  .radioLabel {
    display: inline-block;
    padding: 8px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    font-size: clamp(10px, 3.75vw, 15px);
    align-items: center;

    cursor: pointer;
    &.labelRadioStyle {
      border: none;
    }
  }

  .active {
    background-color: $lightBlue;
    border-color: $lightBlue;
  }

  input[type="radio"] {
    display: none;
    caret-color: transparent;
  }
}

.errorMessage {
  color: red;
  margin-top: 4px;
}
