@import "@styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  min-height: 100vh;
}

.page {
  background: linear-gradient(179.36deg, #fffce5 12.41%, #9cd6f2 116.6%);

  width: 100vw;
}

.desktopSideMenu {
  display: none;
  @media #{$tablet} {
    display: block;
    top: 150px !important;
  }
}

.devisButton {
  position: absolute;

  bottom: 25px;
  left: 50%;

  transform: translateX(-50%);
  background: $beige !important;
  color: $strongGreen !important;
  @media #{$tablet} {
    position: static;
    transform: none;
    width: 113px;
    height: 54px;
    font-size: 20px;
  }
  @media #{$desktop} {
    display: none !important;
  }
}

.text {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  width: 319px;
  margin: 0 auto;
  margin-bottom: 18px;
  margin-top: 18px;
  padding-right: 5%;
  &.firstText {
    padding-right: 2%;
    @media #{$desktop} {
      display: none;
    }
  }
}

.imageWrapper {
  margin-top: 21px;

  display: flex;
  justify-content: center;

  .image {
    width: 319px;
    height: 375px;
    img {
      object-fit: cover;
    }
  }
}

.desktopBottomSection {
  @media #{$desktop} {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: clamp(78px, 7.7vw, 300px);
    padding: clamp(55px, 5.4vw, 200px) 0;
    .imageWrapper {
      order: 1;

      .image {
        width: clamp(336px, 32.8vw, 1008px);
        height: clamp(493px, 48vw, 1479px);
      }
    }

    .bottomPart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: center;
      gap: clamp(15px, 1.5vw, 60px);

      .text {
        font-size: clamp(20px, 1.2vw, 45px);
        margin: 0;
        width: clamp(319px, 35.2vw, 1200px);
        line-height: 1.1;
      }
    }
  }
}

.desktopHidden {
  @media #{$desktop} {
    display: none;
  }
}
