@import "@styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  min-height: 100vh;
}

.blueGradientBackground {
  background: linear-gradient(179.36deg, #fffce5 12.41%, #9cd6f2 116.6%);
  width: 100vw;
}

.desktopSideMenu {
  display: none;
  @media #{$tablet} {
    display: block;
    top: 150px !important;
  }
}

.mobileSideMenu {
  @media #{$tablet} {
    display: none;
    top: 150px !important;
  }
}
