@import "@styles/variables";

.footer {
  height: 127px;
  width: 100vw;
  position: relative;
  @media #{$tablet} {
    height: 119px;
  }

  @media #{$desktop} {
    height: 200px;
  }

  .credit {
    color: white;
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 2px;
  }

  background: $strongGreen;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.4vw;

  @media #{$tablet} {
    justify-content: flex-start;
    gap: 80px;
  }

  .sun {
    position: absolute;
    height: 44px;
    right: 56px;
    top: -22px;
    fill: $lightYellow;
  }

  .logo {
    fill: $dirtyWhite;
    width: 71px;
    height: 69px;
    @media #{$tablet} {
      width: 76px;
      height: 75px;
    }
    @media #{$desktop} {
      width: 123px;
      height: 121px;
    }
  }

  .footerNav {
    color: $dirtyWhite;
    font-size: 13px;

    @media #{$tablet} {
      text-transform: lowercase;
    }
    @media #{$desktop} {
      font-size: 15px;
    }
    a {
      line-height: 20px;
    }
  }

  .socialNav {
    ul {
      display: flex;
      align-items: center;
      gap: 13px;
      list-style-type: none;
    }

    @media #{$tablet} {
      margin-left: auto;
    }

    li {
      height: 23px;
      width: 22px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 64px;

      @media #{$tablet} {
        flex-direction: row;
        gap: 13px;
        height: auto;
      }
    }
  }
}

.image {
  height: 359px;

  @media #{$tablet} {
    height: 390px;
  }

  @media #{$desktop} {
    height: 47.77vw;
  }
  display: block;
  position: relative;
  img {
    object-fit: cover;
  }
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.devisButton {
  display: none;
  @media #{$tablet} {
    display: flex;
    background: $beige;
    color: $strongGreen;
  }
}
