@import "@styles/variables";

.footer {
  height: 127px;
  width: 100vw;
  position: relative;
  @media #{$tablet} {
    height: 119px;
  }

  @media #{$desktop} {
    height: 255px;
  }

  .credit {
    color: white;
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 2px;

    @media #{$desktop} {
      display: none;
    }
  }

  background: $strongGreen;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.4vw;

  @media #{$tablet} {
    justify-content: flex-start;
    gap: 80px;
  }

  .sun {
    position: absolute;
    height: 44px;
    right: 56px;
    top: -22px;
    fill: $lightYellow;

    @media #{$desktop} {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 84px;
    }
  }

  .logo {
    fill: $dirtyWhite;
    width: 71px;
    height: 69px;
    @media #{$tablet} {
      width: 76px;
      height: 75px;
    }
    @media #{$desktop} {
      width: 123px;
      height: 121px;
    }
  }

  .footerNav {
    color: $dirtyWhite;
    font-size: 13px;

    @media #{$tablet} {
      text-transform: lowercase;
    }
    @media #{$desktop} {
      font-size: clamp(15px, 1.38vw, 25px);
    }
    a {
      line-height: 1.53;
    }
  }

  .socialNav {
    ul {
      display: flex;
      align-items: center;
      gap: 13px;
      list-style-type: none;
    }

    @media #{$tablet} {
      margin-left: auto;
    }

    .devisButton {
      display: none;
      @media #{$desktop} {
        display: flex;
        background: $beige;
        color: $strongGreen;
      }
    }

    li {
      @media #{$desktop} {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        height: 24px;
        width: 24px;
        @media #{$desktop} {
          height: 50px;
          width: 50px;
          margin-left: 43px;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 64px;

      @media #{$tablet} {
        flex-direction: row;
        gap: 13px;
        height: auto;
      }
    }
  }
}

.image {
  height: 359px;

  @media #{$tablet} {
    height: 390px;
  }

  @media #{$desktop} {
    height: 47.77vw;
  }
  display: block;
  position: relative;
  img {
    object-fit: cover;
  }
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.devisButton {
  display: none;
  width: 149px !important;
  height: 92px !important;
  margin-left: 82px;
  font-size: 24px !important;
  @media #{$tablet} {
    display: flex;
    background: $beige;
    color: $strongGreen;
  }
}

.featuredImage {
  background-size: auto 100% !important;
  background-position: 50% 0% !important;
  height: 65vw;
  display: flex;
  gap: 35px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Sporting Grotesque";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  padding-right: calc((100% - 320px) / 2);
  padding-left: calc((100% - 320px) / 2);
  @media #{$desktop} {
    font-family: Sporting Grotesque;
    font-size: clamp(24px, 2.3vw, 80px);
    font-weight: 700;
    padding: 0 20vw;
  }
  text-align: center;
  color: $beige;
  a {
    text-decoration: underline;
  }
}

.desktopHidden {
  @media #{$desktop} {
    display: none;
  }
}

.mobileHidden {
  display: none;
  @media #{$desktop} {
    display: block;
  }
}

.desktopSun {
  display: none;
  @media #{$desktop} {
    display: block;

    width: clamp(49.77px, 4.8vw, 200px);
    height: clamp(49.77px, 4.8vw, 200px);

    path {
      fill: $yellow !important;
    }
  }
}
