@import "@styles/variables";

.sideMenu {
  position: fixed;
  right: -47px;

  top: 50vh;

  transform: rotate(-90deg);
  z-index: 100;
  width: 125px;
  border: 0.5px solid $darkBlue;
  opacity: 0;
  background: $beige;
  &.menuVisible {
    opacity: 1;
  }

  @media #{$tablet} {
    width: 250px;
    right: -103px;
  }

  &.home {
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    width: 100%;
    li {
      height: 30px;

      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $strongGreen;
      padding: 7px 5px;
      &:first-child {
        border-right: 0.5px solid $darkBlue;
      }
      @media #{$tablet} {
        height: 40px;
        font-size: 15px;
        width: 50%;
      }
    }
  }

  &.singleButton {
    ul {
      li {
        &:first-child {
          border-right: none;
        }
      }
    }
  }
}
