@import "@styles/variables";

.sideMenu {
  position: fixed;
  right: -21.5px;

  top: 50vh;

  &.topView {
    top: 200px;
  }

  transform: rotate(-90deg);
  z-index: 100;
  border: 0.5px solid $darkBlue;
  opacity: 0;
  background: $beige;
  &.menuVisible {
    opacity: 1;
  }

  @media #{$tablet} {
    right: -37px;
  }

  @media #{$desktop} {
    &:not(.isScrolledDown) {
      background: transparent;

      a {
        color: $beige;
      }
      border-color: $beige;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    li {
      height: 30px;
      padding: 0 13px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $strongGreen;
      a {
        padding: 7px 5px;
      }

      @media #{$tablet} {
        height: 40px;
        font-size: 15px;
        width: 50%;
        padding: 0 30px;
      }
    }
  }

  &.singleButton {
    ul {
      li {
        &:first-child {
          border-right: none;
        }
      }
    }
  }
}
