@import "@styles/variables";

.upperLogo {
  path {
    fill: $teal;
  }

  &.white {
    path {
      fill: white;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

.mainTitle {
  display: none;
}
