@import "@styles/variables";

.container {
  /* Add your styles here */
}

.image {
  position: relative;
  width: 73vw;
  height: 73vw;
  margin: 0 auto;
  img {
    object-fit: cover;
  }
}

.text {
  color: $strongGreen;
  width: 80vw;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 10vw;

  p {
    margin-bottom: 15px;
  }
}
