@import "@styles/variables";

.mainMenu,
.secondaryMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &[aria-expanded="true"] {
    max-height: 1000px;
  }
  position: absolute;
}

.mainMenuToggle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mainMenu {
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  font-size: 13px;

  &[aria-expanded="true"] {
    border: 1px solid $strongGreen;
  }

  width: 54vw;
  max-width: 250px;
  background: $beige;
  .mainMenuItem {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
}

.mainTitle {
  display: none;
}

.subMenu {
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 20px 0;
  list-style-type: disc;
}

.secondaryMenuItem {
  margin-left: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 26px;
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 10px;
  }
}

.upperLogo {
  path {
    fill: $teal;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
