@import "@styles/variables";

.container {
  display: none;

  margin: 0 auto;

  padding-top: 70px;

  max-width: 700px;

  @media #{$tablet} {
    display: block;
  }

  @media #{$desktop} {
    max-width: none;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 20px;

    @media #{$desktop} {
      font-size: clamp(20px, 2.77vw, 50px);
    }
  }

  p {
    margin-bottom: 20px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;

    @media #{$desktop} {
      font-size: clamp(16px, 1.39vw, 25px);
    }
  }

  .topContainer {
    display: flex;
    justify-content: space-between;
    .leftPart {
      flex: 0 0 69%;
      h2 {
        width: 53%;
      }

      p {
        &:last-of-type {
          width: 80%;
        }
      }
    }

    .firstImage {
      width: 149px;
      height: 200px;
      top: 100px;
      right: 20px;
      @media #{$desktop} {
        width: 25.55vw;
        height: 36.11vw;
      }
    }
  }

  .bottomContainer {
    display: flex;
    gap: 8%;
    .leftImages {
      display: flex;
      align-items: flex-end;

      flex-direction: column;
      justify-content: space-between;
      gap: 54px;

      .thirdImage {
        width: 260px;
        height: 232px;
        @media #{$desktop} {
          width: 32.08vw;
          height: 20.9vw;
        }
      }

      .fourthImage {
        width: 149px;
        height: 154px;
        @media #{$desktop} {
          width: 31.11vw;
          height: 29.17vw;
        }
      }
    }

    .rightText {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p:last-of-type {
        margin-bottom: 0;
      }

      .sun {
        width: 58px;
        height: 58px;
        position: absolute;
        top: 20px;
        left: 25%;
        path {
          fill: $yellow;
        }
      }
    }
  }
}
