@import "@styles/variables";

.secondaryMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &[aria-expanded="true"] {
    max-height: 1000px;
  }
  position: absolute;
}
