@import "@styles/variables";

.container {
  display: none;

  margin: 0 auto;

  padding-top: 50px;

  max-width: 700px;

  @media #{$tablet} {
    display: block;
  }

  @media #{$desktop} {
    max-width: none;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    line-height: 1.07;
    text-align: left;
    margin-bottom: 20px;

    @media #{$desktop} {
      font-size: clamp(20px, 2.77vw, 50px);
    }
  }

  p {
    margin-bottom: 20px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    @media #{$desktop} {
      font-size: clamp(16px, 1.39vw, 25px);
    }
  }

  .topPart {
    display: flex;
    justify-content: space-between;
    position: relative;

    top: 20px;

    .topLeftPart {
      flex: 0 0 60%;
    }

    .rightImage {
      width: 214px;
      height: 287px;

      @media #{$desktop} {
        width: 26.8vw;
        height: 36.11vw;
      }

      .sun {
        height: 58px;
        width: 58px;
        position: absolute;
        left: 0;
        top: 30%;
        transform: translateX(-40%);
        path {
          fill: $yellow;
        }
        z-index: 500;
      }
    }
  }

  .bottomPart {
    display: flex;
    gap: 7%;

    h2 {
      margin-top: 50px;
    }

    .leftPart {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-end;

      .topImage {
        width: 260px;
        height: 232px;

        @media #{$desktop} {
          width: 30.69vw;
          height: 23.82vw;
        }
      }
      .bottomImage {
        width: 149px;
        height: 154px;
        @media #{$desktop} {
          width: 17.78vw;
          height: 31.11vw;
        }
      }
    }
  }
}
