@import "@styles/variables";

.container {
  @media #{$tablet} {
    padding: 50px 43px;
  }
  @media #{$desktop} {
    padding: 50px 90px;
  }
  .questions {
    @media #{$tablet} {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 2000px;
      @media #{$desktop} {
        justify-content: flex-start;
        height: 3200px;
      }

      @media #{$largeLandscape} {
        height: 3000px;
      }
      // width: 40vw;
      flex-wrap: wrap;

      gap: 50px;

      @media #{$desktop} {
        gap: 140px 20px;
      }
    }
  }
  padding-top: 51px;
  background: linear-gradient(
    180.12deg,
    #14301b 0.11%,
    #619c57 55.08%,
    #14301b 99.53%
  );
  padding-bottom: 35px;

  .sunDiv {
    height: 300px;

    display: none;
    svg {
      width: 76px;
      height: 76px;
      path {
        fill: $yellow;
      }
    }
    @media #{$tablet} {
      @include center;
    }

    @media #{$desktop} {
      display: none;
    }
  }

  .title {
    color: $beige;
    font-family: "Sporting Grotesque";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.63;
    text-align: center;
    margin-bottom: 30px;
    @media #{$desktop} {
      font-size: 40px;
    }
  }

  .sun {
    width: 48px;
    height: 48px;
    order: 5;
    display: block;
    margin: 0 auto 24px auto;
    path {
      fill: $yellow;
    }
  }

  .introText {
    color: $leafGreen;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 15px;
    text-align: center;

    @media #{$tablet} {
      width: 60vw;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    @media #{$desktop} {
      font-size: 20px;
    }
  }

  .introText:last-of-type {
    margin-bottom: 60px;
  }
}
