@import "@styles/variables";

.tent {
  background: linear-gradient(
    179.38deg,
    #14301b 0.18%,
    #a3cf94 52.24%,
    #14301b 100.3%
  );
}

.desktopSideMenu {
  display: none;
  @media #{$tablet} {
    display: block;
  }
}

.mobileSideMenu {
  @media #{$tablet} {
    display: none;
  }
}
