@import "@styles/variables";

.sliderContainer {
  @media #{$tablet} {
    display: none;
  }
  width: 100vw; /* Adjust as needed */
  margin: 20px 0; /* Center align */

  overflow: hidden; /* Hide overflow */
  &.home {
    width: 319px;
    margin: 0 auto;

    margin-top: 52px;
  }
}

.imageFixedContainer {
  transition: transform 0.3s ease;
  white-space: nowrap;
}

.image {
  width: 276px;
  height: 250px;
  display: inline-block;
  margin-right: 13px;
}
.sliderBar {
  position: relative;
  width: calc(90% - 20px); /* Subtract padding */
  margin: 0 20px; /* Add padding to the sides */
  height: 20px;
  background: lightgreen;
  border-radius: 33px;
}

.sliderDot {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  background: $beige;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.sliderBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;

  border-radius: 33px;
  &.home {
    background: $teal;
    width: 100%;

    .sliderBar {
      background: $teal;
    }
  }

  &.weddings {
    background: $lightGreen;
    .sliderBar {
      background: $lightGreen;
    }
  }

  &.events {
    background: $brown;
    .sliderBar {
      background: $brown;
    }
  }

  &.collectives {
    background: $yellow;
    .sliderBar {
      background: $yellow;
    }
  }

  &.business {
    background: $lightBlue;
    .sliderBar {
      background: $lightBlue;
    }
  }

  &.tent {
    background: $beige;
    .sliderBar {
      background: $beige;
    }
    .sliderDot {
      background: $leafGreen;
    }
  }
}

.customElement {
  width: 100vw;
  display: inline-flex;
  text-align: top;
}
