@import "@styles/variables";

.container {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  text-align: center;
  p {
    margin-bottom: 10px;
  }
  h2 {
    color: $yellow;
    font-family: "Sporting Grotesque";
    font-size: 13px;
    font-weight: 400;
    line-height: 16.9px;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    &.twoButtons {
      a:first-child {
        margin-right: 10px;
      }
      a:last-child {
        margin-left: 10px;
      }
    }
  }
}
