@import "@styles/variables";

.services {
  .sideMenu {
    display: none;
    @media #{$tablet} {
      display: block;
      top: 300px;

      &:not(.scrolledMenu) {
        background: transparent;
        color: $beige;

        li {
          color: $beige;
          border-color: $beige;
          &:first-child {
            border-right-color: $beige;
          }
        }
        border-color: $beige;
      }
    }
  }
}

.pageHeader {
  height: 100vh;

  @media #{$desktop} {
    height: 80vh;
  }
  width: 100vw;
  border-radius: 0;
  position: relative;

  .sun {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 5%;
    bottom: 25%;
    path {
      fill: $beige;
    }
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 46px;
    font-weight: 400;
    line-height: 50.6px;

    padding-left: 10px;

    @media #{$tablet} {
      font-size: 85px;

      margin-bottom: 100px;
      line-height: 97.75px;
    }

    @media #{$desktop} {
      font-size: 128px;
    }
  }

  background-size: cover; /* Ensure the entire container is covered */
  background-position: center;

  .content {
    color: $beige;

    position: absolute;
    width: 100%;
    bottom: 0;
    nav {
      ul {
        display: flex;
        list-style-type: none;

        li {
          width: 50%;
          border: 0.5px solid beige;
          border-bottom: none;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid $beige;
  margin-right: 10px;
}

.slogan {
  max-width: 768px;
  margin: 0 auto;

  @media #{$tablet} {
    padding-right: 36px;
    padding-left: 36px;
  }
}

.adTextWrapper {
  background: $beige;
  @include center;
}
.adText {
  width: 90%;

  p {
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 17.25px;
    text-align: center;
    @media #{$tablet} {
      font-size: 16px;
      line-height: 18.4px;
    }
  }
}
