@import "@styles/variables";

.container {
  width: 83px;
  height: 41px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid $beige;
  background: $lightGreen;
  font-family: "Raleway";
  font-size: 13px;
  color: $beige;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}
