@import "@styles/variables";

.secondSlider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10%;
  overflow: hidden;

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    color: $darkBlue;
  }

  &.setHeight {
    height: 250px;
  }

  &:not(.setHeight) {
    padding-bottom: 60px;
  }

  .leftArrows,
  .rightArrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.weddings {
    .leftArrows,
    .rightArrows {
      background: $lightGreen;
    }
  }

  &.business {
    .leftArrows,
    .rightArrows {
      background: $lightBlue;
    }
  }
  &.collectives {
    .leftArrows,
    .rightArrows {
      background: $yellow;
    }
  }
  &.events {
    .leftArrows,
    .rightArrows {
      background: $brown;
    }
  }
  &.tent {
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    h2 {
      color: $beige;
    }
    .leftArrows,
    .rightArrows {
      background: $lightGreen;

      @media #{$desktop} {
        background: $beige;
      }
    }
  }

  .leftArrows {
    left: 10%;
    transform: translateY(-50%) rotate(180deg);
  }
  .rightArrows {
    right: 10%;
  }
}
