@import "@styles/variables";

.secondSlider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10%;

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
  }

  .rightArrowContainer {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 25px;
    .rightArrowLine {
      width: 100vw;
      height: 0.5px;
      background: $teal;
    }
  }

  &.setHeight {
    height: 250px;
  }

  &:not(.setHeight) {
    padding-bottom: 60px;
  }

  .leftArrows,
  .rightArrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.weddings {
    &.oneWay {
      background: rgba(255, 252, 229, 0.5);
      h3 {
        padding-top: 20px;
      }
    }
    .leftArrows,
    .rightArrows {
      background: $lightGreen;
    }
    .rightArrowLine {
      background: $lightGreen;
    }
  }

  &.tent {
    h2 {
      color: $beige;
    }
    .leftArrows,
    .rightArrows {
      background: $lightGreen;
    }
  }

  .leftArrows {
    left: 10%;
    transform: translateY(-50%) rotate(180deg);
  }
  .rightArrows {
    right: 10%;
  }

  &:not(.oneWay) {
    @media #{$tablet} {
    }
  }
}
