@import "@styles/variables";

.secondSlider {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  padding: 0 10%;

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
  }

  &.setHeight {
    height: 250px;
  }

  &:not(.setHeight) {
    padding-bottom: 60px;
  }

  .leftArrows,
  .rightArrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: $lightGreen;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leftArrows {
    left: 10%;
    transform: translateY(-50%) rotate(180deg);
  }
  .rightArrows {
    right: 10%;
  }
}

.rightArrowContainer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 25px;
  .rightArrowLine {
    width: 100vw;
    height: 0.5px;
    background: $teal;
  }
}
