@import "@styles/variables";

.container {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 17.25px;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  padding: 16px 0;

  p {
    margin-bottom: 10px;
  }
}
