@import "@styles/variables";

.trust {
  padding: 40px 0px;
  path {
    fill: $darkBlue;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 39.36px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
  }

  .clients {
    display: flex;

    padding-bottom: 60px;

    .logo {
      flex: 0 0 50vw;

      @media #{$tablet} {
        flex-basis: 33.3vw;
      }
      display: flex;
      justify-content: center;
    }
    justify-content: space-around;
  }
}
