@import "@styles/variables";

.trust {
  padding: 40px 0px;

  margin: 0 auto;

  path {
    fill: $darkBlue;
  }

  @media #{$desktop} {
    width: 80vw;
    margin-bottom: 100px;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 39.36px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    @media #{$desktop} {
      font-size: clamp(50px, 3.472vw, 60px);
      margin-bottom: 100px;
    }
  }

  .clients {
    display: flex;
    width: 100%;

    @media #{$desktop} {
      gap: 11.5vw;
    }

    .logo {
      flex: 0 0 40vw;

      svg {
        width: 75px;
        height: 71px;
      }

      @media #{$tablet} {
        flex-basis: 25vw;
      }

      @media #{$desktop} {
        flex-basis: 9.3vw;

        svg {
          width: 9.3vw;
          height: 9.58vw;
        }
      }

      display: flex;
      justify-content: center;
    }
    justify-content: space-around;
  }
}
