@import "@styles/variables";

.trust {
  padding: 40px 20px;
  path {
    fill: $darkBlue;
  }

  h2 {
    font-family: "Sporting Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 39.36px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
  }

  .clients {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
